<%- include("templates/header") %>
<h1>404: Global Coordination Failure</h1>
<div class="terminal" id="terminal">
    <!-- Typing effect here -->
</div>
<div class="progress">
    <div class="progress-fill" id="progress-fill"></div>
</div>
<div class="buttons">
    <a href="\main" id="reboot-button">INITIATE REBOOT BACK TO MAIN</a>
    <a href="\logout">EXIT THE SIMULATION</a>
    <a href="\somedir">IDK I WANTED 3 BUTTONS</a>
</div>
<script src="scripts/404.js"></script>
<%- include("templates/footer") %>