<%- include("templates/header") %>
<section class="top-section">
    <h1>Our Tomorrow</h1>
    <h2>Manage, build, adapt; save your new world, one click at a time.</h2>
</section>
<section class="mid-section">
    <section class="left-half">
        <p>Our Tomorrow: An incremental game demonstrating the power we have if we work together [will fix this later lol]</p>
    </section>
    <section class="right-half">
        <!-- PLEASE STYLE THESE -->
        <button onclick="window.location.assign('/signUp')">Sign Up</button>
        <button button onclick="window.location.assign('/login')">Log In</button>
        <!-- PLEASE STYLE THESE -->
    </section>
</section>

<section class="bottom-section">
    <section class="left-half">
        <h3>THE PROJECT</h3>
        <p>Our Tomorrow is a web game created by team BBY10 for our projects
            course at school. The game is an incremental game where the player
            must work together with other players to achieve a common goal. The
            game is designed to be simple and easy to play, with a focus on
            collaboration and teamwork. The game is built using HTML, CSS, and
            JavaScript, and is designed to be played in a web browser. The game
            is currently in development, and we are working hard to make it the
            best it can be. We are excited to share our progress with you, so
            check back soon for updates!</p>
    </section>
    <section class="right-half">
        <h3>THE TEAM</h3>
        <div>
            <span class="small-rounded-rectangle">
                <p>Marcy</p>
                <p>Will include lil blurb for everyone</p>
            </span>
            <span class="small-rounded-rectangle">
                <p>Glenn</p>
                <p>Will include lil blurb for everyone</p>
            </span>
            <span class="small-rounded-rectangle">
                <p>Darion</p>
                <p>Will include lil blurb for everyone</p>
            </span>
            <span class="small-rounded-rectangle">
                <p>Alex</p>
                <p>Will include lil blurb for everyone</p>
            </span>
            <span class="small-rounded-rectangle">
                <p>Caroline/Cyrus</p>
                <p>Will include lil blurb for everyone</p>
            </span>
        </div>
    </section>
</section>
<%- include("templates/footer") %>