<%- include("templates/header") %>
<section class="top-section">
    <h1>Our Tomorrow</h1>
    <h2>Manage, build, adapt; save your new world, one click at a time.</h2>
</section>
<section class="mid-section">
    <section class="left-half">
        <p>Our Tomorrow is a sci-fi incremental strategy game where you 
            lead humanity’s last colony on Kepler-22b, 
            balancing progress and sustainability to avoid repeating Earth’s mistakes</p>
    </section>
    <section class="right-half">
        <div class="login-box">
            <button onclick="window.location.assign('/signUp')">Sign Up</button>
            </br>
            </br>
            <button button onclick="window.location.assign('/login')">Log In</button>
        </div>
    </section>
</section>

<section class="bottom-section">
    <section class="left-half">
        <h3>THE PROJECT</h3>
        <p>Our Tomorrow is a web game created by team BBY10, a BCIT 2800 projects team. 
            The game is built using HTML, CSS, and JavaScript, and is designed to be played in a web browser, 
            optimized for mobile but also works great on desktop! 
            The game is still only a demo, and we are working hard to make it the
            best it can be. We are excited to share our progress with you!</p>
    </section>
    <section class="right-half">
        <h3>THE TEAM</h3>
        <div>
            <span class="small-rounded-rectangle">
                <p>Marcy [any/all]</p>
                <p>Marcy designed and built the game’s backend data systems, ensuring reliable player progression and scalable resource tracking.</p>
            </span>
            <span class="small-rounded-rectangle">
                <p>Glenn [he/him]</p>
                <p>Glenn came up with the core idea for Our Tomorrow and developed much of the game’s logic, shaping its progression, and it's overall design vision.</p>
            </span>
            <span class="small-rounded-rectangle">
                <p>Darion [he/him]</p>
                <p>Darion contributed across the entire project, from building the login and signup system to implementing the tech tree. Their adaptability and broad skillset helped bring key gameplay features to life.</p>
            </span>
            <span class="small-rounded-rectangle">
                <p>Alex [she/they/he]</p>
                <p>Alex supported the team across multiple areas, including database, debugging, and testing. Their attention to detail and reliability kept the project stable and on track.</p>
            </span>
            <span class="small-rounded-rectangle">
                <p>Cyrus [they/them]</p>
                <p>Cyrus built the index page, researched and created the tech tree content, and contributed to the game's story, logic, and map art, helping define the core experience of Our Tomorrow.</p>
            </span>
        </div>
    </section>
</section>
<%- include("templates/footer") %>