<%- include("templates/header") %>
<div class="login-container">
    <div class="login-box">
        <h1>Welcome Back</h1>
        <p class="subtitle">Log in to join the mission</p>
        <form action="/loggingin" method="post">
            <input name="email" type="text" placeholder="Email" required>
            <input name="password" type="password" placeholder="Password" required>
            <button type="submit">Enter</button>
        </form>
        <% if (errors) errors.forEach((message) => { %>
            <p><%= message %><br></p>
        <% }) %>
        <p class="signup-link">New here? <a href="/signup">Sign up</a></p>
    </div>
</div>
<%- include("templates/footer") %>