html,
body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#skillPoints {
  text-align: center;
  font-size: 1.2em;
}

#addPointBtn {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

#treeWrapper {
  width: 100vw;
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  cursor: grab;
}

#treeContainer {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
}

#connectorSVG {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}


.skill {
  position: absolute;
  width: 120px;
  height: 60px;
  background-color: #ddd;
  border: 2px solid #444;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  z-index: 1;
}

.unlocked {
  background-color: lightgreen;
}

#infoBox {
  position: absolute;
  background: white;
  border: 1px solid black;
  padding: 10px;
  display: none;
  width: 200px;
  z-index: 10;
}